var config = {
    db: {
        server: "influx.hm", // "influx.hm" value for Docker-compose installation
        database: "homemetrics"
    },
    mqtt: {
        server: "mqtt.hm", // "mqtt.hm" value for Docker-compose installation
        topics: [
            "rack-1/temp",
            "rack-1/hum",
            "rack-1/power"
        ]
    }
}


module.exports = config;